<label for="Year">Date </label>
<select name="Year" id="Year">
    <option *ngFor="let date of listDate" [value]="date">{{date}}</option>    
</select>
<label for = "Geography">Geography </label>
<select name="Geography" id="Geography">
    <option *ngFor="let geo of listLocation" [value]="geo">{{geo}}</option>
</select>
<label for="Area, production and farm value of potatoes">Area, production and farm value of potatoes </label>
<select name="Area, production and farm value of potatoes" id="Geography">
    <option *ngFor="let type of listARFAFVP" [value]="type">{{type}}</option>
</select>


<div class="chart-container">
    <canvas  id="MyChart" >{{ chart }}</canvas>
</div>